$background-toolbar: #F5F5F5;
$texto: #161D4B;
$blue-komerzio: #161D4B;
$border-verde: #00AB33;
$background-yellow: #FFD500;
$yellow-komerzio: #FFD500;
$white: #ffffff;
$gray: #707070;
$red-error: #FF7B7B;
