@import './colores';

.card-inf{
    height: 70px;
}

.margin-total{
    display: flex;
    align-items: center;
}

.locked-yellow{
    color: $background-yellow;
    font-size: 32px;
}

.container-fluid{
  padding: 30px 10px;
  height: 100%;
}

@media only screen and (max-width: 1024px){
    .container-fluid {
        /* margin-top: 12px; */
        display: grid;
        grid-gap: 10px;
    }
  }
  