.logo-client{
  border-radius: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  width: 35px;
  height: 35px;
  object-fit: contain;
}

.tag-status{
  border-radius: 10px;
  font-size: 12px;
  background-color: #00ab3f;
  color: white;
}

.tag-gris{
  border-radius: 10px;
  font-size: 12px;
  background-color: #8A8A8A;
  color: white;
}
