@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;400&display=swap');
@import './variables';

* {
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
}

body {
    font-family: 'Yantramanav';
}

.text-red {
    color: $mac-red
}

.text-gold {
    color: $mac-gold;
}

.text-green {
    color: $mac-green;
}